.ldBar {
  position: relative;
}

.ldBar.label-center>.ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #fff
}

.ldBar-label {
  opacity: 0;
}

.ldBar.no-percent .ldBar-label:after {
  content: ""
}

@font-face {
  font-family: "bwt";
  src: url("Raleway-Black.ttf") format("truetype");
}

#bwt {
  text-align: center;
  font-family: bwt;
  font-size: 40px;
}

.loading {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}