body, html {
  background-color: #f1e7fb;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.content {
  height: 100%;
  padding-top: 15px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f1fbe7;
}

.nav {
  position: absolute;
  right: 200px;
  top: 100px;
  text-align: right;
  cursor: pointer;
  color: #003459;
  font-size: 15px;
  font-family: times new roman;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
}