body {
  background-color: Green;
  padding-top: 10000px text-align: center;
  font-family: cursive;
  text-align: center;
}

strong {
  color: ;
}

em {
  text-shadow: 1px 1px 2px grey;
}

.chrome {
  width: 100px;
  padding-left: 400px;
}

.random {
  width: 100px;
}

.test {
  width: 100px;
}

p {
  font-family: monospace;
}
