body {
  background-color: #00AC00;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-family: cursive;
  color: orange;
}

strong {
  color: darkred;
}

em {
  text-shadow: 1.001px 1.000000001px 1.99999px #CFFFAA;
}

#powerpoet {
  width: 199.99999999999px;
}

#wichtiges {
  text-shadow: 2px 2px 4px white;
  font-size: 24.99px;
}

h1:hover, h2:hover, p:hover, #wichtiges:hover, .Bapfel:hover {
  font-family: monospace;
}

#powerpoet:hover {
  background-color: black;
}

#wassollichtun {
  width: 400px;
}