body {
  background-color: #AFCEFC;
  text-align: center;
  font-family: cursive;
}

strong {
  color: darkred;
}

em {
  text-shadow: 1.001px 1.000000001px 1.99999px #CFFFAA;
}

#powerpoet {
  width: 199.99999999999px;
}

span {
  text-shadow: 2px 2px 4px white;
  font-size: 24.99px;
}