//
// Footer
// --------------------------------------------------
// Custom footer styles

// Global variables
//

$footer-height: 40px;
$footer-text-margin: 3px;

// Global mixins
//

// Called in _scaffolding.scss
@mixin footer-htmlProps {
	position: relative;
	min-height: 100%;
}

// Called in _scaffolding.scss
@mixin footer-bodyProps {
	// Margin bottom by footer height
	margin-bottom: ($footer-height - $footer-text-margin);
}

// Module wrapper

.footer {

	$footer-bg: #1b1b1b;

	height: $footer-height;

	.footer-text {
		margin: $footer-text-margin 0;
	}
}
