body {
  margin: 20px;
  background-color: white;
}

h1 {
  font-family: Ubuntu, sans-serif;
  color: red;
  margin-bottom: 30px;
}

.Title {
  margin-bottom: 100px;
  color: darkblue;
}

.Title2 {
  color: blue;
  margin-bottom: 300px;
}

#PPPP {
  margin-bottom: 10px;
}
