{{!-- begin: footer --}}
<div class="footer">
	<div class="container">
		<p class="footer-text text-muted">
			bluewingtitans
			<span class="pull-right">{{addYear '©'}}</span>
		</p>
	</div>
</div>
{{!-- end: footer --}}
