{{!-- begin: footer --}}
<nav class="navbar navbar-inverse bg-dark fixed-bottom footer">
	<div class="container">
		<p class="footer-text text-muted">
			bluewingtitans
			<span class="pull-right">{{addYear '©'}}</span>
		</p>
	</div>
</nav>
{{!-- end: footer --}}
