body {
  background-image: linear-gradient(90deg, #9999ff 0%, #6666ff 100%);
  text-align: center;
  font-family: FNT;
  font-size: 150px;
}

img {
  width: 150px;
}

@font-face {
  font-family: 'FNT';
  src: url('FNT2.ttf') format('truetype');
}
