body {
  background-image: url("stonium.jpg");
  background-repeat: repeat;
  background-size: 384px 384px;
  background-color: white;
}

.title {
  height: 180px;
  color: #F32;
}

#titleText {
  margin-top: -10px;
  font-size: 80px;
  text-align: center;
  font-family: Main;
}

#under {
  margin-top: -80px;
  font-size: 55px;
  text-align: center;
  font-family: Main;
}

#mainGame {
  right: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#cards {
  position: absolute;
  right: 100%;
  transform: translateX(50%);
  /*overflow-y: scroll;*/
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  text-align: center;
  background-image: url("sandium.jpg");
  background-size: 100px 100px;
}

.Item {
  width: 400px;
  border-style: solid;
  border-radius: 6px;
  border-width: 5px;
  border-color: black;
  height: 100px;
  font-family: fantasy;
  font-size: 60px;
  color: black;
  margin: 20px;
  opacity: 0.5;
}

.Item:hover {
  box-shadow: 0px 0px 10px black;
}

.ItemSelected {
  width: 400px;
  border-style: solid;
  border-radius: 6px;
  border-width: 5px;
  border-color: black;
  height: 100px;
  font-family: fantasy;
  font-size: 60px;
  color: black;
  margin: 20px;
  box-shadow: 0px 0px 10px red;
  opacity: 1;
}

#points {
  position: relative;
  left: 100%;
  transform: translateX(-50%);
}

.allGameFields {
  display: flex;
  height: 600px;
  width: 1300px;
  flex-flow: row;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.gameField {
  margin-top: 20px;
  position: relative;
  color: white;
  height: 600px;
  width: 600px;
  border-style: solid;
  border-color: black;
  border-width: thick;
  background-color: white;
}

#onTurnStatement {
  color: white;
  text-shadow: 1px 1px 5px #F32;
  margin-top: 10px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  font-family: Main;
}

.row {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 600px;
  display: flex;
  flex-flow: row;
  flex-direction: row;
}

.field {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 200px;
  background-image: url("scratchium.jpg");
  background-size: 200px 200px;
}

.field:hover {
  background-color: #DDD;
  opacity: 0.8;
  animation: switch 0.2s steps(20);
  animation-direction: alternate;
}

/*ANIMATION*/

@keyframes switch {
  from {
    background-color: white;
    opacity: 1;
  }
  to {
    background-color: #DDD;
    opacity: 0.8;
  }
}

/*Fonts*/

@font-face {
  font-family: "Main";
  src: url("Zombie_Holocaust.ttf") format("truetype");
}

/*SPECIAL FIELDS (WITH ENTITYS FROM DIFFERENT TEAMS)*/

/*WHITE FIELDS*/

/*white miner*/

.wm {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 200px;
  background-image: url("lavarium.jpg");
  background-size: 200px 200px;
  src: url("./res/1w.png");
}

.wm:hover {
  background-color: #DDD;
  opacity: 0.5;
  animation: switch 0.2s steps(20);
  animation-direction: alternate;
}

/*BLACK FIELDS*/

/*black miner*/

.bm {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 200px;
  background-image: url("stonium.jpg");
  background-size: 200px 200px;
  src: url("./res/1b.png");
}

.bm:hover {
  background-color: #DDD;
  opacity: 0.5;
  animation: switch 0.2s steps(20);
  animation-direction: alternate;
}