body {
  font-family: fantasy;
  background-color: white;
  height: 95%;
  text-align: center;
}

.main {
  position: relative;
  height: 200px;
  top: 50%;
  transform: translateY(50%);
}

.setting {
  font-size: 60px;
  height: 80px;
  font-family: fantasy;
  color: black;
}

.setting:hover {
  opacity: 0.5;
}

.title {
  color: white;
  position: relative;
  height: 10%;
  width: 80%;
  text-shadow: 2px 2px black;
  left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
  text-align: center;
  font-family: fantasy;
  animation-name: title;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

/*Animation*/

@keyframes title {
  0% {
    text-shadow: 2px 2px 2px black;
  }
  25% {
    text-shadow: 2px 2px 2px #a04000;
  }
  50% {
    text-shadow: 2px 2px 2px #154360;
  }
  75% {
    text-shadow: 2px 2px 2px #641e16;
  }
  100% {
    text-shadow: 2px 2px 2px black;
  }
}